asgiref==3.7.2
async-timeout==4.0.3
channels==4.0.0
channels-redis==4.2.0
Django==5.0.2
django-filter==23.5
djangochannelsrestframework==1.2.0
djangorestframework==3.14.0
drf-yasg==1.21.7
et-xmlfile==1.1.0
exceptiongroup==1.2.0
inflection==0.5.1
iniconfig==2.0.0
msgpack==1.0.7
openpyxl==3.1.2
packaging==23.2
pillow==10.2.0
pluggy==1.4.0
pytest==8.0.1
pytest-asyncio==0.23.5
pytest-django==4.8.0
pytz==2024.1
PyYAML==6.0.1
redis==5.0.1
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.9.0
uritemplate==4.1.1
